<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letterball.mapper.SubjectMapper" >
  <resultMap id="BaseResultMap" type="com.letterball.entity.Subject" >


    <id column="id" property="id" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, title, parent_id, sort, gmt_create, gmt_modified
  </sql>
  <select id="selectSubjectList" resultMap="BaseResultMap" parameterType="map">

    select 
    <include refid="Base_Column_List" />
    from edu_subject
    where 1=1
    <if test="type == '01'">
      and parent_id = '0'
    </if>
    <if test="type == '02'">
      and parent_id != '0'
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >

    delete from edu_subject
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.letterball.entity.Subject" >

    insert into edu_subject (id, title, parent_id,
      sort, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{parentId,jdbcType=CHAR},
      #{sort,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.letterball.entity.Subject" >

    insert into edu_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.letterball.entity.Subject" >

    update edu_subject
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.letterball.entity.Subject" >

    update edu_subject
    set title = #{title,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>