<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letterball.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.letterball.entity.Teacher" >

    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="career" property="career" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >

    id, name, intro, career, level, avatar, sort, is_deleted, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select 
    <include refid="Base_Column_List" />
    from edu_teacher
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="findTeacherList" resultMap="BaseResultMap" parameterType="map" >
    select
      t.id,
      t.NAME,
      t.intro,
      t.career,
      t.LEVEL,
      t.avatar,
      t.sort,
      t.is_deleted,
      t.gmt_create,
      t.gmt_modified
    from edu_teacher t
    where 1 =1
    <if test="id != null and id != ''" >
      AND t.id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name != ''" >
      AND t.NAME = #{name,jdbcType=VARCHAR}
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >

    delete from edu_teacher
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.letterball.entity.Teacher" >

    insert into edu_teacher (id, name, intro, 
      career, level, avatar, 
      sort, is_deleted, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{career,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{isDeleted,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.letterball.entity.Teacher" >

    insert into edu_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateEduTeacher" parameterType="com.letterball.entity.Teacher" >
    update edu_teacher
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.letterball.entity.Teacher" >

    update edu_teacher
    set name = #{name,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>