<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letterball.mapper.PaymentMapper" >
  <resultMap id="BaseResultMap" type="com.letterball.entity.Payment" >

    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="serial" property="serial" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, serial
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select 
    <include refid="Base_Column_List" />
    from sys_payment
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >

    delete from sys_payment
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.letterball.entity.Payment" >

    insert into sys_payment (id, serial)
    values (#{id,jdbcType=VARCHAR}, #{serial,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.letterball.entity.Payment" >

    insert into sys_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.letterball.entity.Payment" >

    update sys_payment
    <set >
      <if test="serial != null" >
        serial = #{serial,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.letterball.entity.Payment" >

    update sys_payment
    set serial = #{serial,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>